<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/playmeetlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/playmeetlogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">
        <activity
            android:name=".Chat.ChatActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Utilities.OpinionFromUser"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PostsManagement.MainMenuPosts"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserManagement.UserAccountLogic"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PostsManagement.PostCreatingLogic"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginRegister.LoginAndRegisterActivity"
            android:exported="true"
            android:theme="@style/AppThemeForLoginAndRegister" />
        <activity
            android:name=".LoginRegister.MainActivity"
            android:exported="true"
            android:theme="@style/AppThemeForLoginAndRegister" />
        <activity
            android:name=".Design.WelcomeActivity"
            android:exported="true"
            android:theme="@style/noBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>